[user]
	name = Nataliia Tolokontseva
	email = XXX
[url "https://github.com/"]
	insteadOf = git://github.com/
[alias]
        co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
	unstage = reset HEAD --
	delete-remote = push origin --delete
	# Display tree-like log, because default log is a pain…
        lg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
	# Display local branches and name of latest commit for them
	# you can run also brl -a to see all brunches or brl -r to see only remote
	brl = br -vv
	# Useful when you have to update your last commit
	# with staged files without editing the commit message.
	oops = commit --amend --no-edit
	# Edit last commit message
	reword = commit --amend
	# Undo last commit but keep changed files in stage
	uncommit = reset --soft HEAD~1
	# Remove file(s) from Git but not from disk
 	untrack = rm --cache --
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
	unstage = reset HEAD --
	delete-remote = push origin --delete
[core]
	excludesfile = ~/.gitignore
	editor = notepad
	autocrlf = false
	editor = code --wait
	# Don't consider trailing space change as a cause for merge conflicts
	whitespace = -trailing-space
[diff]
  # Use VSCode as default diff tool when running `git diff-tool`
  tool = vscode
[push]
	autoSetupRemote = true
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[pull]
	ff = only
